.bannerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
  	max-width: 1000px;
	height: 100%;
  	max-height: 600px;
	background-color: #f4f0ec;
	text-align: center;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 50px; /* Optional: Add some border radius for styling */
  }
  
  .bannerImage {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensures the image covers the entire container */
  }
  
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(244, 240, 236, 0.7); /* F4F0EC with 70% brightness */
  }
  
  .textOverlay {
	position: absolute;
	top: 40%;
	left: 35%;
	transform: translate(-50%, -50%);
	text-align: left;
	color: #292f36; /* Text color */
	font-size: 20px;
	font-family: 'DM Serif Display', serif;
	z-index: 1; /* Ensure text appears over the image */
  }
  
  .overlayAdditional{
	font-family: 'Jost', serif;
  }
  
  .buttonOverlay {
	position: absolute;
	align-items: center;
	width: 244px;
	height: 75px;
	top: 70%;
	left: 15%;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	background-color: #292F36;
	color: #fff;
	border: none;
	border-radius: 18px;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Jost', serif;
	cursor: pointer;
	z-index: 1; /* Ensure button appears over the image */
	transition: background-color 0.3s;
  }
  
  .buttonOverlay:hover {
	background-color: #C49E85; /* Change the background color on hover */
  }  
  
  .vectorBanner {
	width: 17px; /* Adjust the width as needed */
	height: 15px; /* Adjust the height as needed */
	margin-left: 15px; /* Adjust the margin as needed */
	fill: #292F36; /* Color of the vector icon */
	stroke: #c49e85; /* Color of the vector stroke */
	transition: fill 0.3s, stroke 0.3s;
  }
  
  .buttonOverlay:hover .vectorBanner {
	fill: #C49E85; /* Change the fill color on hover */
	stroke: #292F36;
  }
  
  .opcjeContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 130px;
	align-items: center;
	}
	
	.smallContainer {
  	margin: 10px;
	align-items: center;
	width: 340px;
	height: 230px; 
	border-radius: 10px;
	}
  
	.smallContainerText {
	  width: auto;
	  text-align: center;
	  color: #292F36; /* Adjust the text color as needed */
	  font-size: 25px; /* Adjust the font size as needed */
	  font-weight: 400;
	  font-family: 'DM Serif Display', serif; /* Use the Jost font-family */
	}
  
	.smallContainerOpis {
	  text-align: center;
	  color: #292F36; /* Adjust the text color as needed */
	  font-size: 22px; /* Adjust the font size as needed */
	  font-weight: 400;
	  font-family: 'Jost', serif; /* Use the Jost font-family */
	}
  
	.smallContainerButton{
	  position: absolute;
	  align-items: center;
	  width: 150px;
	  height: 50px;
	  margin-top: 40px;
	  margin-left: 9%;
	  transform: translate(-50%, -50%);
	  padding: 10px 15px;
	  color: #292F36;
	  background-color: #ffffff;
	  border: none;
	  border-radius: 18px;
	  font-size: 18px;
	  font-weight: 600;
	  font-family: 'Jost', serif;
	  cursor: pointer;
	  z-index: 1; /* Ensure button appears over the image */
	  transition: background-color 0.3s;
	}
  
	.smallContainerButton:hover {
	  background-color: #292F36;
	  color: #ffffff;
	}
	.vectorIcon {
	  width: 17px; /* Adjust the width as needed */
	  height: 15px; /* Adjust the height as needed */
	  margin-left: 15px; /* Adjust the margin as needed */
	  fill: #ffffff; /* Color of the vector icon */
	  stroke: #c49e85; /* Color of the vector stroke */
	  transition: fill 0.3s, stroke 0.3s;
	}
  
	.smallContainerButton:hover .vectorIcon {
	  fill: #292F36;
	  stroke: #c49e85;
	}
  
	.ContainerContact {
	  display: flex;
	  justify-content: space-around;
	  margin-top: 10%;
	  align-items: center;
	}
  
	.ContainerMiasto {
	  align-items: center;
	  width: 100%;
	  max-width: 1200px;
	  height: 700px; 
	  border-radius: 10px;
	  background-color: #fff;
	}
  
	.ContainerMiastoOverlay{
	  position: absolute;
	}
  
	.ContainerMiastoTextOverlay {
	  position: relative;
	  width: 100%;
	  max-width: 470px;
	  height: 470px;
	  text-align: left;
	  color: #292F36;
	  font-size: 40px;
	  font-family: 'DM Serif Display', serif;
	}
  
	.ContainerMiastoTextOverlayAdditional {
	  margin-top: 10px;
	  font-size: 18px;
	  font-family: 'Jost', serif;
	}
  
	.button {
	  position: absolute;
	  align-items: center;
	  width: 244px;
	  height: 75px;
	  margin-top: 80px;
	  left: 25%;
	  transform: translate(-50%, -50%);
	  padding: 10px 20px;
	  background-color: #292F36;
	  color: #fff;
	  border: none;
	  border-radius: 18px;
	  font-size: 18px;
	  font-weight: 600;
	  font-family: 'Jost', serif;
	  cursor: pointer;
	  z-index: 1; /* Ensure button appears over the image */
	  transition: background-color 0.3s;
	}
  
	.button:hover {
	  background-color: #C49E85; /* Change the background color on hover */
	}  
  
	.vector {
	  width: 17px; /* Adjust the width as needed */
	  height: 15px; /* Adjust the height as needed */
	  margin-left: 15px; /* Adjust the margin as needed */
	  fill: #292F36; /* Color of the vector icon */
	  stroke: #c49e85; /* Color of the vector stroke */
	  transition: fill 0.3s, stroke 0.3s;
	}
  
	.button:hover .vector {
	  fill: #C49E85; /* Change the fill color on hover */
	  stroke: #292F36;
	}
  
	.ContainerMiastoImage {
	  position: absolute;
	  height: 700px;
	  width: 100%;
	  max-width: 650px;
	  margin-left: 30%;
	  border-radius: 0px 326px 0px 123px;
	  background-image: url('./images/Banner.jpg');
	}
  
	.containerReviews {
	  display: flex;
	  justify-content: space-around;
	  margin-top: 100px;
	  align-items: center;
	}
  
	.reviews {
	  align-items: center;
	  text-align: center;
	  width: 100%;
	  max-width: 1200px;
	  height: 650px; 
	  border-radius: 70px;
	  background-color: #86A397;
	}
  
	.reviewsHeader{
	  font-family: 'DM Serif Display', serif;
	  font-size: 50px;
	  color: #292F36;
	}
  
	.peopleReviews {
	  width: 100%;
	  max-width: 1150px;
	  height: auto;
	  margin-top: 3%;
	  margin-left: 3%;
	  display: flex;
	  justify-content: space-around;
	}
  
	.review {
	  width: 100%;
	  max-width: 340px;
	  height: 340px;
	  background-color:#ffffff;
	  border-radius: 30px;
	}
  
	.person {
	  display: flex;
	  width: 330px;
	  height: 75px;
	  margin: 20px;
	}
  
	.personDetails {
	  margin-top: 5px;
	}
  
	.reviewText {
	  text-align: left;
	  margin: 5px;
	}
  
	.personName {
	  font-family: 'DM Serif Display', sans-serif;
	  font-size: 23px;
	}
  
	.personDepartment {
	  font-size: 15px;
	  font-family: 'Jost', serif;
	}
	
	.personOpis {
	  margin: 5px;
	}
  
	.reviewOpis {
	  font-family: 'Jost', serif;
	  text-align: left;
	  font-size: 20px;
	  margin-left: 7%;
	}

	.buttonOpinie {
		position: absolute;
		align-items: center;
		width: 244px;
		height: 75px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 8%;
		transform: translate(-50%, -50%);
		padding: 10px 20px;
		background-color: #292F36;
		color: #fff;
		border: none;
		border-radius: 18px;
		font-size: 18px;
		font-weight: 600;
		font-family: 'Jost', serif;
		cursor: pointer;
		z-index: 1; /* Ensure button appears over the image */
		transition: background-color 0.3s;
	  }
	
	  .buttonOpinie:hover {
		background-color: #C49E85; /* Change the background color on hover */
	  }
	
	  .buttonOpinie:hover .vector {
		fill: #C49E85; /* Change the fill color on hover */
		stroke: #292F36;
	  }

	  .reviewForm {
		margin-top: 3%;
		margin-right: auto;
		margin-left: auto;
		align-items: center;
		align-items: center;
		text-align: center;
		max-width: 100%;
		width: 1200px;
		height: 240px; 
		border-radius: 70px;
		background-color: #86A397;
	  }

	  .headerContainer {
		margin-top: 5%
	  }

	  .formHeader {
		font-family: 'DM Serif Display', serif;
	  	font-size: 30px;
	  	color: #292F36;
		text-align: center; /* Center-align the text */
		margin-top: 20px;
	  }

	  .inputContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 20px;
		margin-right: 30px;
	}
	.label {
		font-family: 'Jost';
		font-weight: 600;
		font-size: 18px;
		margin-right: 10px;
		color: #333;
	}
	.input {
		outline: none;
		border: none;
		width: 100%;
		max-width: 270px;
		border-bottom: 1px solid #292F36;
		padding: 5px;
		font-size: 18px;
		font-family: 'Jost';
		margin-top: 5px;
		background-color: transparent; /* Remove background color */
	}

	.formRow {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.buttonForm {
		position: absolute;
		align-items: center;
		width: 150px;
		height: 55px;
		margin-top: 1.5%;
		margin-left: auto;
		margin-right: auto;
		transform: translate(-50%, -50%);
		padding: 10px 20px;
		background-color: #292F36;
		color: #fff;
		border: none;
		border-radius: 18px;
		font-size: 18px;
		font-weight: 600;
		font-family: 'Jost', serif;
		cursor: pointer;
		z-index: 1; /* Ensure button appears over the image */
		transition: background-color 0.3s;
	  }
	
	  .buttonForm:hover {
		background-color: #C49E85; /* Change the background color on hover */
	  }
	
	  .buttonForm:hover .vector {
		fill: #C49E85; /* Change the fill color on hover */
		stroke: #292F36;
	  }

	  .buttonSliderLeft {
		position: absolute;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		margin-top: 3%;
		margin-left: 0.5%;
		background-color: #fff;
		color: #292f36;
		border: none;
		border-radius: 50%;
		font-size: 24px; /* Adjust font size as needed */
		cursor: pointer;
		z-index: 2; /* Ensure buttons appear over the reviews */
		transition: background-color 0.3s, color 0.3s;
	  }
	  
	  .buttonSliderLeft:hover {
		background-color: #292f36;
		color: #fff;
	  }

	  .buttonSliderRight {
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		margin-top: 3%;
		margin-right: 0.5%;
		background-color: #fff;
		color: #292f36;
		border: none;
		border-radius: 50%;
		font-size: 24px; /* Adjust font size as needed */
		cursor: pointer;
		z-index: 2; /* Ensure buttons appear over the reviews */
		transition: background-color 0.3s, color 0.3s;
	  }
	  
	  .buttonSliderRight:hover {
		background-color: #292f36;
		color: #fff;
	  }

	  .reviewsSlider {
		display: flex;
		align-items: center;
	  }

	  @media (max-width: 768px) {
		.textOverlay {
			position: absolute;
			top: 35%;
			left: 50%;
			width: 400px;
			text-align: center;
			color: #292f36; /* Text color */
			font-size: 17px;
			font-family: 'DM Serif Display', serif;
			z-index: 1; /* Ensure text appears over the image */
		}

		.buttonOverlay {
			position: absolute;
			align-items: center;
			width: 244px;
			height: 75px;
			top: 75%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 10px 20px;
			background-color: #292F36;
			color: #fff;
			border: none;
			border-radius: 18px;
			font-size: 18px;
			font-weight: 600;
			font-family: 'Jost', serif;
			cursor: pointer;
			z-index: 1; /* Ensure button appears over the image */
			transition: background-color 0.3s;
		}

		.opcjeContainer {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 40px;
			align-items: center;
		}

		.smallContainer {
			flex-basis: calc(100% - 20px);
			border: 2px solid #292F36; /* Make containers full width on smaller screens */
		}

		.smallContainerButton{
			position: absolute;
			align-items: center;
			width: 150px;
			height: 50px;
			margin-top: 20px;
			margin-left: 49%;
			transform: translate(-50%, -50%);
			padding: 10px 15px;
			color: #292F36;
			background-color: #ffffff;
			border: none;
			border-radius: 18px;
			font-size: 18px;
			font-weight: 600;
			font-family: 'Jost', serif;
			cursor: pointer;
			z-index: 1; /* Ensure button appears over the image */
			transition: background-color 0.3s;
		}

		.ContainerContact {
			display: flex;
			margin-left: 70px;
			margin-top: 10px;
		}

		.ContainerMiasto {
			height: 280px;
		}

		.ContainerMiastoImage {
			display: none;
		}

		.ContainerMiastoTextOverlay {
			height: 470px;
			margin-top: 10px;
			text-align: center;
			color: #292F36;
			font-size: 23px;
			font-family: 'DM Serif Display', serif;
		}

		.button {
			margin-top: 50px;
			margin-left: 100px;
		}

		.containerReviews {
			display: flex;
			flex-direction: column;
		}
		
		  .reviews {
			height: 460px; 
		}

		.reviewsHeader{
			font-size: 30px;
		}

		.peopleReviews {
			margin-top: 10px;
			grid-template-columns: repeat(1, 1fr);
		}

		.review {
			height: 250px;
			margin-bottom: 50px;
		}

		.reviewOpis {
			text-align: center;
			margin: 5px;
		}

		.buttonOpinie {
			margin-top: 0px;
		}

		.formRow {
			margin-left: 20px;
			margin-bottom: 20px;
		}


		
	}