.daneLista {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 650px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 2%;
	background-color: #F4F0EC;
	border-radius: 55px;
	overflow: hidden;
}

.nameContainerLista {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 400px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 33%;
}

.signName {
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 45px;
	color: #292F36;
}

.filtersContainer {
	display: flex;
	align-items: center;
}

.checkboxContainer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

.checkboxContainer input {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #333;
    outline: none;
    cursor: pointer;
}

label {
	font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.checkboxContainer input:checked {
	background-color: #c49e85;
	border-color: #292F36;
}

.checkboxContainer,
.filter {
	margin-right: 20px;
}

.filter {
	margin-bottom: 20px;
	margin-top: 10px;
}

.roomsContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
  	margin-left: auto;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
  	max-height: 400px;
}

.roomBlock {
	width: calc(33.33% - 20px);
	height: 150px;
	margin: 10px;
	background-color: #fff;
	border-radius: 30px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.roomText {
	font-family: 'Jost';
	color: #292F36;
	font-size: 20px;
}

.select {
	outline: none;
	border: none;
	width: 100%;
	max-width: 300px;
	padding: 15px;
	border-radius: 10px;
	border-bottom: 2px solid #292F36;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 17px;
	background-color: transparent;
    font-family: 'Jost', sans-serif;
}
  .inputSearch {
	width: 150px;
	padding: 8px; 
	font-family: 'Jost';
	font-size: 16px;
	color: #333;
	border: 1px solid #333;
	border-radius: 5px;
	outline: none;
	margin-bottom: 0px;
	margin-top: 0px;
  }

@media (max-width: 769px) {
	.roomBlock {
		width: calc(43.33% - 10px);
		height: 220px;
		margin: 10px;
	}

	.nameContainerStudent {
		margin-left: 80px;
	}

	.filtersContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 20px;
	}

	.searchContainer {
		margin-right: 30px;
	}

	.checkboxContainer {
		margin-left: 50px;
	}	
}