.daneLista {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 650px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 2%;
	background-color: #F4F0EC;
	border-radius: 55px;
	overflow: hidden;
}

.nameContainerPayment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 400px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 33%;
}

.signName {
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 45px;
	color: #292F36;
}

.inputSearch {
	width: 250px;
	height: 40px;
	border: 1px solid #292F36;
	border-radius: 8px;
	padding: 8px;
	font-size: 16px;
	font-family: 'Jost', serif;
	margin-top: 10px;
}

.studentsContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
  	margin-left: auto;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
  	max-height: 500px;
}

.paymentsBlock {
	width: calc(33.33% - 20px);
	height: 200px;
	margin: 10px;
	background-color: #fff;
	border-radius: 30px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.studentText {
	font-family: 'Jost';
	color: #292F36;
	font-size: 20px;
}

@media (max-width: 769px) {
	.searchContainer {
		margin-right: 30px;
	}
}