
/*Styles for component with header and navbar on the left side*/
.headSystem {
	width: 1195px;
	height: 100px;
	margin-left: auto;
	margin-right: 3%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
  }

  .headUser {
	width: 150px;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
  }

  .headUserName {
	font-family: 'Jost';
	font-size: 22px;
	font-weight: 200;
	color: #292F36;
  }

  .headUserPhoto {
	width: 100px;
	height: 110px;
	border-radius: 50%;
	background-color: #fff;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
  }

  .userPhoto {
	width:110px;
	height:110px;
	border-radius: 50%;
  }

  /*Styles for component with main navbar on the left side*/
  .navbar {
	position: absolute;
	width: 345px;
	height: 480px;
	background-color: #F4F0EC;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 76px 32px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10%;
  }

  .contentNav {
	width: 345px;
	height: 400px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
  }
  
  .navBtn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 20px;
	width: 290px !important;
	height: 65px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 20px;
  }

  .nonLinkText {
	text-decoration: none;
	color: inherit;
  }

  .iconBack {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
  }

  .iconWniosek {
	width: 40px;
	height: 40px;
	font-weight: 100;
	color: #c49e85;
  }

  .iconText {
	align-items: center;
	text-align: center;
	width: 180px;
	height: 50px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	font-family: 'Jost';
	font-size: 20px;
	font-weight: 200;
  }

/*Styles for component with navbar on the left side*/
  .navbarKonto {
	position: absolute;
	width: 345px;
	height: 200px;
	background-color: #F4F0EC;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 76px 32px;
	margin-top: 35%;
	margin-left: 2%;
	margin-right: 2%;
  }

  .contentKonto {
	width: 385px;
	height: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-top: 15%;
  }

  .nameKonto {
	width: 370px;
	height: 60px;
	margin-top: 3%;
	text-align: center;
  }

  .nameField {
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 30px;
  }

  .btnKonto {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 20px;
	width: 290px !important;
	height: 65px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-top: 5%;
	margin-left:17%;
	margin-right: auto;
  }

  .btnDebt {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 20px;
	width: 290px !important;
	height: 65px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-top: 5%;
	margin-left:17%;
	margin-right: auto;
  }

  .iconBackKonto {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
  }

  .iconKonto {
	width: 40px;
	height: 40px;
	font-weight: 100;
	color: #c49e85;
  }

  .iconTextKonto {
	align-items: center;
	text-align: center;
	width: 180px;
	height: 50px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	font-family: 'Jost';
	font-size: 25px;
	font-weight: 200;
  }
  
  /*Styles for the main part of the page with data*/
  .dane {
	position: relative;
	width: 1200px;
	height: 800px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 3%;
	background-color: #F4F0EC;
	border-radius: 55px;
  }

  .content {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20%;
  }

  .nameContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 70px;
	margin-left: 20%;
}

.signName {
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 45px;
	color: #292F36;
}

.fieldRow {
	display: flex;
    justify-content: space-between;
	width: 445px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
	margin-right: 30px;
}

.fieldMail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
	margin-left: 20%;
}

.fieldPhoto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
	margin-right: 25%;
	align-items: center;
}

.label {
	font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

.labelMail {
	font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

.labelPhoto {
	font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

.profilePicture {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.data {
    outline: none;
    border: none;
    width: 370px;
    border-bottom: 1px solid #292F36;
    padding: 5px;
    font-size: 18px;
	font-family: 'Jost';
	margin-top: 5px;
    background-color: transparent; /* Remove background color */
}

.dataMail {
    outline: none;
    border: none;
    width: 370px;
    border-bottom: 1px solid #292F36;
    padding: 5px;
    font-size: 18px;
	font-family: 'Jost';
	margin-top: 5px;
    background-color: transparent; /* Remove background color */
}

.infoText {
	font-family: 'DM Serif Display';
	font-size: 30px;
	font-weight: 400;
	color: #292F36;
	margin-left: 60%;
}

.pref {
	width: 40%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	margin-top: -70px;
	border: 2px solid #007bff;
}
  
  @media only screen and (max-width: 600px) {
	.main_container {
	  flex-wrap: wrap;
	}
  
	.navbar {
	  width: 100%;
	  min-height: 80px;
	  padding: 10px;
	  justify-content: center;
	}
  
	.navbar h1 {
	  margin-bottom: 10px;
	}
  
	.dane {
	  width: 80%;
	  margin-top: 20px;
	}
  
	.fieldName,
	.info,
	.fields {
	  width: 100%;
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  .btn{
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
	
}
.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .signup_form_container {
	width: 900px;
	height: 900px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
	  0px 3px 4px 0px rgb(0 0 0 / 14%),
	  0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  
  .left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #007bff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
  }
  
  .left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
  }
  
  .right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
  }
  
  .form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .form_container h1 {
	font-size: 30px;
	margin-top: -10px;
  }
  
  .input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
  }
  
  .select {
	outline: none;
	border: none;
	width: 400px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
  }
  
  .error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
  }
  
  .white_btn,
  .green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
  }
  
  .green_btn {
	background-color: #007bff;
	color: white;
	margin: 10px;
  }
  .formContainer {
	display: flex;
	justify-content: center;
	height: 100vh;
  }
  .formContainer2 {
	display: flex;
	justify-content: center;
  }

/*Styles for Zgłoszenie page*/
.messageContainer {
	position: relative;
	width: 1200px;
	height: 650px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 3%;
	background-color: #F4F0EC;
	border-radius: 55px;
}

.messageContent {
	width: 1000px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.messageHead {
	width: 600px;
	height: 60px;
	align-items: center;
	text-align: center;
	margin-bottom: 5px;
}

.messFieldRow {
	display: flex;
    justify-content: space-between;
	width: 445px;
	margin-top: 7%;
	margin-right: 34%;
}

.messField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
	margin-right: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
	margin-right: 30px;
}

.inputTemat {
	outline: none;
    border: none;
    width: 370px;
    border-bottom: 1px solid #292F36;
    padding: 5px;
    font-size: 18px;
	font-family: 'Jost';
	margin-top: 5px;
    background-color: transparent; /* Remove background color */
}

.inputMessage {
	outline: none;
    border: none;
    width: 570px;
	height: 120px;
    border-bottom: 1px solid #292F36;
    padding: 5px;
    font-size: 18px;
	font-family: 'Jost';
	margin-top: 5px;
    background-color: transparent; /* Remove background color */
}

.button {
    align-items: center;
    width: 210px;
    height: 60px;
    transform: translate(-50%, -50%);
    background-color: #292F36;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost', serif;
    cursor: pointer;
	margin-top: 7%;
	margin-left: 17%;
    z-index: 1; /* Ensure button appears over the image */
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #c49e85; /* Change the background color on hover */
  }  

  .vector {
    width: 17px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    margin-left: 15px; /* Adjust the margin as needed */
    fill: #292F36; /* Color of the vector icon */
    stroke: #c49e85; /* Color of the vector stroke */
    transition: fill 0.3s, stroke 0.3s;
  }

  .button:hover .vector {
    fill: #c49e85; /* Change the fill color on hover */
    stroke: #292F36;
  }

  /*Styles for Wymeldowanie page*/
.checkoutContainer {
	position: relative;
	width: 1200px;
	height: 550px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 3%;
	background-color: #F4F0EC;
	border-radius: 55px;
}

.checkoutContent {
	width: 1000px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.checkoutHead {
	width: 600px;
	height: 60px;
	align-items: center;
	text-align: center;
	margin-bottom: 5px;
}

.input {
    outline: none;
    border: none;
    width: 370px;
    border-bottom: 1px solid #292F36;
    padding: 5px;
    font-size: 18px;
	font-family: 'Jost';
	margin-top: 5px;
    background-color: transparent; /* Remove background color */
}

.buttonCheckOut {
    align-items: center;
    width: 210px;
    height: 60px;
    transform: translate(-50%, -50%);
    background-color: #292F36;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost', serif;
    cursor: pointer;
	margin-top: 7%;
	margin-left: 47%;
    z-index: 1; /* Ensure button appears over the image */
    transition: background-color 0.3s;
  }

  .buttonCheckOut:hover {
    background-color: #c49e85; /* Change the background color on hover */
  }  

  .vector {
    width: 17px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    margin-left: 15px; /* Adjust the margin as needed */
    fill: #292F36; /* Color of the vector icon */
    stroke: #c49e85; /* Color of the vector stroke */
    transition: fill 0.3s, stroke 0.3s;
  }

  .buttonCheckOut:hover .vector {
    fill: #c49e85; /* Change the fill color on hover */
    stroke: #292F36;
  }

  .checkboxBlock {
	display: flex;
    align-items: center;
    margin-bottom: 20px;
	margin-top: 10px;
  }
  
  .checkboxBlock input {
    margin-right: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #333;
    outline: none;
    cursor: pointer;
}

.checkboxBlock label {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.checkboxBlock input:checked {
    background-color: #c49e85;
    border-color: #292f36;
}

/*Styles for Pokój page*/
.roomContainer {
	position: relative;
	width: 1200px;
	height: 550px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 3%;
	background-color: #F4F0EC;
	border-radius: 55px;
}

.roomContent {
	width: 1000px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.roomHead {
	width: 800px;
	height: 60px;
	align-items: center;
	text-align: center;
	margin-bottom: 5px;
}

.historyContent {
	width: 415px;
	height: 130px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.historyHead {
	width: 400px;
}

.headText {
	font-family: 'DM Serif Display';
	font-size: 20px;
	font-weight: 400;
	color: #292F36;
}

.historyText {
	width: 95%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.historyRow {
	display: flex;
	flex-direction: row;
}

.historyYear,
.historyRoom {
  margin: 0;
  padding: 5px;
  font-family: 'Jost';
  font-size: 15px;
  color: #292F36;
}

/*Styles for Preferencje page*/
.prefContainer {
	position: relative;
	width: 1200px;
	height: 650px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 3%;
	background-color: #F4F0EC;
	border-radius: 55px;
}

.prefContent {
	width: 1000px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prefHead {
	width: 600px;
	height: 60px;
	align-items: center;
	text-align: center;
	margin-bottom: 5px;
}

.prefFieldRow {
	display: flex;
    justify-content: space-between;
	width: 445px;
	margin-top: 7%;
	margin-right: 34%;
}

.prefField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
	margin-right: 30px;
}

/*Styles for edytowanie preferencji page*/
.editContainer {
	position: relative;
	width: 1200px;
	height: 600px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin-left: 29%;
	margin-right: auto;
	margin-top: 3%;
	background-color: #F4F0EC;
	border-radius: 55px;
}

.editContent {
	width: 1000px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.editHead {
	width: 600px;
	height: 60px;
	align-items: center;
	text-align: center;
	margin-bottom: 5px;
}

.inputEdit {
	margin-top: 25%;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
	margin-top: 10px;
}

.checkboxContainer input {
    margin-right: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #333;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.checkboxContainer label {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.checkboxContainer input:checked {
    background-color: #c49e85;
    border-color: #292f36;
}

.buttonEdit {
    align-items: center;
    width: 210px;
    height: 60px;
    transform: translate(-50%, -50%);
    background-color: #292F36;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost', serif;
    cursor: pointer;
	margin-top: 20%;
	margin-left: 47%;
    z-index: 1; /* Ensure button appears over the image */
    transition: background-color 0.3s;
  }

  .buttonEdit:hover {
    background-color: #c49e85; /* Change the background color on hover */
  }  

  .vector {
    width: 17px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    margin-left: 15px; /* Adjust the margin as needed */
    fill: #292F36; /* Color of the vector icon */
    stroke: #c49e85; /* Color of the vector stroke */
    transition: fill 0.3s, stroke 0.3s;
  }

  .buttonEdit:hover .vector {
    fill: #c49e85; /* Change the fill color on hover */
    stroke: #292F36;
  }

  /*Styles for Status page*/
  .statusContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 10%;
  }
  
  .statusField {
	display: flex;
	width: 300px;
	height: 70px;
	text-align: center;
	align-items: center;
  }

  .statusText {
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 25px;
	margin-left: 10px;
  }

  .buttonStatus {
    align-items: center;
    width: 210px;
    height: 60px;
    transform: translate(-50%, -50%);
    background-color: #292F36;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost', serif;
    cursor: pointer;
	margin-top: 20%;
	margin-left: 17%;
    z-index: 1; /* Ensure button appears over the image */
    transition: background-color 0.3s;
  }

  .buttonStatus:hover {
    background-color: #c49e85; /* Change the background color on hover */
  }  

  .vector {
    width: 17px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    margin-left: 15px; /* Adjust the margin as needed */
    fill: #292F36; /* Color of the vector icon */
    stroke: #c49e85; /* Color of the vector stroke */
    transition: fill 0.3s, stroke 0.3s;
  }

  .buttonStatus:hover .vector {
    fill: #c49e85; /* Change the fill color on hover */
    stroke: #292F36;
  }

  .historyContentStatus {
	width: 415px;
	height: 130px;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 6%;
}

.historyHeadStatus {
	width: 400px;
}

.historyTextStatus {
	width: 95%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.historyRowStatus {
	display: flex;
	flex-direction: row;
}






  