.circle {
    position: absolute;
    background-color: #292f36;
    border-radius: 50%;
    margin: 10px;
  }
  
  .circleHovered {
    z-index: 1;
    transition: z-index 0.3s;
  }
  
  .circleSmall {
    z-index: 0;
    transition: z-index 0.3s;
  }

  @media (max-width: 768px) {
    .circle {
      margin: 5px;
    }
  }
  